{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
{% endblock %}

{% block body %}
    <!-- Container -->
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'index' %}">ELearning login</a></h1>
            </div>
        </div>
        <div class="breadcrumbs"><a href="{% url 'index' %}">Home</a></div>

        <div id="content" class="colM">
            <h1>Logged out</h1>
            <p>Thanks for spending some quality time with the Web site today.</p>
            <p><a href="{% url 'login' %}">Log in again</a></p>
            <br class="clear" />
        </div>

        <div id="footer"></div>
    </div>
    <!-- END Container -->
{% endblock %}
