{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}eLearning App{% endblock %}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'elearning/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'elearning/css/responsive.css' %}">

    {% block head %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
{% include 'partials/_header.html' %}
{% block body %}{% endblock %}
<!-- Compiled and minified JavaScript -->
<script src="{% static 'elearning/js/vendors/jquery.min.js' %}"></script>
<script src="{% static 'elearning/js/vendors/materialize.min.js' %}"></script>
<script src="{% static 'elearning/js/base.js' %}"></script>
</body>
</html>
