{% extends "base.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}, <a href="{% url 'logout' %}">logout</a></p>
        {% if type == "student"%}
            <table style="width:300px">
                <tr>
                    <th>
                        Course name
                    </th>
                    <th>
                        Enroll date
                    </th>
                </tr>
            {% for course, enroll_date in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ enroll_date }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% else %}
        <p>Please <a href="{%  url 'login' %}">login</a> to see this page.</p>
    {% endif %}
{% endblock %}
